Package: python3-pyhp-core
Source: pyhp-core
Version: {0}-1
Architecture: all
Maintainer: {1} <{2}>
Installed-Size: {3}
Depends: python3:any (>= 3.7)
Recommends: python3-toml (>= 0.10.0), python3-werkzeug (>= 0.14.0)
Section: python
Priority: optional
Homepage: {4}
Description: {5}
 PyHP is a application/python package for embedding python code in text files like HTML,
 with several PHP functions available.
