Package: pyhp
Version: 2.0-1
Architecture: all
Maintainer: Eric Wolf <robo-eric@gmx.de>
Installed-Size: 31
Depends: python3:any (>= 3.5)
Suggests: apache2
Section: web
Priority: optional
Homepage: https://github.com/Deric-W/PyHP
Description: Application for embedding and using python code like php
 PyHP is a application/python package for embedding python code in text files like HTML, 
 with several PHP functions available.
