Package: pyhp
Version: 1.1-0
Architecture: all
Maintainer: Deric Wolf <robo-eric@gmx.de>
Installed-Size: 21
Depends: python3:any (>= 3.5)
Recommends: apache2
Suggests: 
Section: web
Priority: optional
Homepage: https://github.com/Deric-W/PyHP-Interpreter
Description: interprets and executes pyhp files.
 In addition, the interpreter offers some often used php functions and caching.
